/*Index CSS code*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Dark and Light Mode*/
:root {
  color: #242424; 
}

.dark {
  background-color: #3b3b3b;
  color: #ffffff;
}
/*--*/

.none{display:none;}
.nope{ visibility:hidden; position: absolute;}
.over{overflow: visible;}

.popGlow:hover{
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 0px #000;
  border-radius: 50px;
  cursor: pointer;
}
.center{
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 11em;
}

/*Headers*/
.HeaderLista{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: #3b3b3b;
  color: #fff;
  text-shadow: 2px 2px #3b3b3b;
  padding: 10px;
  justify-items: center;
  justify-content: center;
  background-image: url('./computer_back.jpg')
}
.HeaderForm{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: #3b3b3b;
  color: #fff;
  text-shadow: 2px 2px #3b3b3b;
  padding: 10px;
  justify-items: center;
  justify-content: center;
  background-image: url('./book_back.jpg')
}
.HeaderWelcome{
  grid-column: span 3 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  letter-spacing: 3px;
  padding: 10px;
  font-size: x-large;
  text-align: center;
}

.HeaderButtons{
  grid-row-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  background-color: #6495ed;
  color: white;
  border-color: white;
  border-radius: 25px;
  height: 5em;
  width: 5em;
  text-align: center;
  transition: all 0.5s cubic-bezier(1, -0.01, 0, 1.53) 100ms;
}

.HeaderButtons.active , .HeaderButtons:active {
  background-color: #3551a9;
  border-color: #ccc;
}

.HeaderLabels{
  grid-row-start: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  text-align: center;
  font-size: x-small;
}
/*--*/

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
  margin: 20px 0px;
}

.divider::before {
  content: "";
  width: 10%;
  border-bottom: 5px solid ;
  margin-right: 3em;
}

.divider::after {
  content: "";
  flex: 1;
  border-bottom: 5px solid ;
  margin-left: 3em;
}

/*Grids de media*/

.flexTable{
  /*Flex para los grids de media*/
  padding: 4px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
  align-items: center;
}

.gridvisto {
  /*Grid para registros vistos*/
  border: 4px #000 solid;
  height: 6cm;
  width: 10cm;
  max-width: 10cm;
  display: grid;
    grid-template-columns: 4fr 2.5fr 3.5fr;
    grid-template-rows: 2.1fr 1.3fr 1.3fr 1.3fr;
  margin: 2px;
  border-radius: 20px;
  text-overflow: ellipsis;
}

.ghti{
  /*Grid Head Title*/
  align-content: center;
  grid-column: 1 / span 2;
  grid-row: 1;
  color: #fff;
  padding-left: 20px;
  text-align: start;
  font-size: 1.4em;
  font-family: 'Unispace';
  border-top-left-radius: 14px;
}
.rhyr{
  /*Row Head Year*/
  font-family:'Bahnschrift', sans-serif;
  font-size: 0.8em;
}

.ghbs{
  /*Grid Head Box Small*/
  text-align: center;
  align-content: center;
  grid-column: 3 / span 2;
  grid-row: 1;
  color: #fff;
  font-family: 'Bahnschrift', sans-serif;
  border-top-right-radius: 14px;
}

.bstr{
  /*Box Star*/
  align-items: center;
  margin: 0.1em 0.4em;
  border-radius: 15px;
  background-color: #fff;
  color: var(--main-color);
  letter-spacing: var(--letterSpa);
  transition: all 0.5s cubic-bezier(1, -0.01, 0, 1.53) 100ms;
}

.bstr label:hover, 
.bstr label:hover ~ label, 
.bstr input[type="radio"]:checked ~ label {
  color: var(--mainColor);
  cursor: pointer;
 }

 .bwbk {
  /*Box with white background*/
  color: var(--main-color);
  background: white;
  padding: 0px 5px;
}

.gbim{
  /*grid for image*/
  text-align: center;
  align-content: center;
  grid-row: 2 / span 3;
  grid-column: 1;
  font-family: 'Bahnschrift', sans-serif;
}

.bima{
  /*box of image*/
  height: 112px;
  width: 112px;
  border-radius: 15%;
  transition: all 0.5s cubic-bezier(1, -0.01, 0, 1.53) 100ms;
}

.gr1f{
  /*grid de la primera fila, full*/
  padding-left: 20px;
  align-content: center;
  grid-column: 2 / span 3;
  grid-row: 2;
  border-bottom: 1px #000 solid;
  font-family: 'Bahnschrift', sans-serif;
}

.gr2f{
  /*grid de la segunda fila, full*/
  padding-left: 20px;
  align-content: center;
  grid-column: 2 / span 3;
  grid-row: 3;
  border-bottom: 1px #000 solid;
  font-family: 'Bahnschrift', sans-serif;
}

.gr3f{
  /*grid de la tercera fila, full*/
  padding-left: 20px;
  align-content: center;
  grid-column: 2 / span 3;
  grid-row: 4;
  font-family: 'Bahnschrift', sans-serif;
}
/*--*/

/*Formulario*/

.formTable {
  /*Flex para todos los inputs*/
  gap: 16px;
  display: grid;
  align-items: center;
  justify-content: center;
  row-gap: 1.5cm;
  box-shadow: 5px 0px 10px 10px rgba(0, 0, 0, 0.4);
  margin: auto;
/*  width: 30em;*/
}

.fgty{
  /*Formulario grid para Titulo y Year*/
  display: grid;
  grid-template-columns: 16em 6em;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1em;
  height: 4.2em;
}

.fgff{
  /*Formulario separado en 50 y 50*/
  display: grid;
  grid-template-columns: 11em 11em;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1em;
  height: 4.2em;
}

.fgft{
  /*Formulario separado en dos filas*/
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1em;
  height: 4.2em;
}

.fgim {
    /*Formulario separado en dos filas para las cajas de color e imagen*/
  display: grid;
  grid-template-columns: 11em 11em;
  grid-template-rows: auto auto;
  column-gap: 1em;
  height: auto;
}

 .colOne{
  grid-column-start: 1;
 }
 .colTwo{
  grid-column-start: 2;
 }

.fltx{
  /*Formulario Labels Texto*/
  font-size: larger;
  font-weight: 500;
  padding: 0px 10px;
  height: 1.2em;
}

.fllw{
  /*Formulario Label left Wing*/
  width: 30%;
  border-radius: 5px 0 0 5px !important;
}

.flrw{
  /*Formulario Label right Wing*/
  display: flex;
  width: 70%;
  align-items: center;
  height: 2.5em !important;
  border-radius: 0 5px 5px 0 !important;
}

.fcit{
  /*Formulario fondo de color input texto*/
  height: 3em;
  border: 2px solid #3551a9;
  background: #3551a9;
  border-radius: 5px;
  padding: 0px 8px;
  color: #fff;
  transition: all 0.5s cubic-bezier(1, -0.01, 0, 1.53) 100ms;
}

.fbit{
  /*Formulario borde input texto*/
  height: 3em;
  border: 2px solid #3551a9;
  border-radius: 5px;
  padding: 0px 8px;
  background-color: transparent;
  color: inherit;
  transition: all 0.5s cubic-bezier(1, -0.01, 0, 1.53) 100ms;
}

.fbii{
  /*Formulario box de imagen input*/
  height: 11em;
  width: 11em;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(1, -0.01, 0, 1.53) 100ms;
}

.fbci{
  /*Formulario box de color input*/
  height: 13em;
  width: 13em;
  border-radius: 10px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: var(--colorHex);;
  padding: 0;
  cursor: pointer;
  border: 0;
  transition: all 0.5s cubic-bezier(1, -0.01, 0, 1.53) 100ms;
}

.flib{
  /*Formulario label para las box de imagen y color*/
  padding: 4em;
  border-radius: 30px;
  background: transparent;
  position: absolute;
  width: 3em;
  height: 3em;
  color: #000;
  border: 2px solid #3551a9;
  transition: all 0.5s cubic-bezier(1, -0.01, 0, 1.53) 100ms;
}

.pbrs{
  /*estilo de boton de pildora radio seen*/
  height: 3em;
  border: none;
  background: #6495ed;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: larger;
  align-content: center;
  color: #fff;
  transition: all 0.5s cubic-bezier(1, -0.01, 0, 1.53) 100ms;
}

.pbrs:active, .pbrs.active, .pbrs:hover{
  background: #3551a9;
}

.star {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  direction: ltr;
}

.star-label {
  font-size: 2em;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
}

.star-label:hover,
.star-label:hover ~ .star-label,
.star-label.active {
  color: #6495ed;
}

.cube {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  direction: ltr;
  align-items: center;
}

.cube label {
  cursor: pointer;
  transition: color 0.3s;
  color: #fff;
  font-size: x-large;
}

.cube label.active, .cube label:hover, .cube label:hover ~ .cube label {
  color: #6495ed;
}

.pbbd {
  height: 3em;
  border: none;
  background: #c0392b;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: larger;
  align-content: center;
  color: #fff;
  transition: all 0.5s cubic-bezier(1, -0.01, 0, 1.53) 100ms;
}
.pbbd:hover {background: #fbff0c; color: #000;}
