/*Dark and Light Mode*/
:root {
  color: #242424; 
}

.dark {
  background-color: #3b3b3b;
  color: #ffffff;
}
/*--*/

.none{display:none;}
.over{overflow: visible;}

.popGlow:hover{
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 0px #000;
  border-radius: 50px;
}

input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 15em;
  padding: 0;
  width: 15em;
}

/*Headers*/
.HeaderLista{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: #3b3b3b;
  color: #fff;
  text-shadow: 2px 2px #3b3b3b;
  padding: 10px;
  justify-items: center;
  justify-content: center;
  background-image: url('/public/Imagenes/computer_back.jpg')
}
.HeaderForm{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: #3b3b3b;
  color: #fff;
  text-shadow: 2px 2px #3b3b3b;
  padding: 10px;
  justify-items: center;
  justify-content: center;
  background-image: url('/public/Imagenes/book_back.jpg')
}
.HeaderWelcome{
  grid-column: span 3 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  letter-spacing: 3px;
  padding: 10px;
  font-size: x-large;
  text-align: center;
}

.HeaderButtons{
  grid-row-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  background-color: #6495ed;
  color: white;
  border-color: white;
  border-radius: 25px;
  height: 5em;
  width: 5em;
  text-align: center;
  transition: all 0.5s cubic-bezier(1, -0.01, 0, 1.53) 100ms;
}

.HeaderButtons.active , .HeaderButtons:active {
  background-color: #3551a9;
  border-color: #ccc;
}

.HeaderLabels{
  grid-row-start: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  text-align: center;
  font-size: x-small;
}
/*--*/

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
  margin: 20px 0px;
}

.divider::before {
  content: "";
  width: 10%;
  border-bottom: 5px solid ;
  margin-right: 3em;
}

.divider::after {
  content: "";
  flex: 1;
  border-bottom: 5px solid ;
  margin-left: 3em;
}

/*Grids de media*/

.flexTable{
  /*Flex para los grids de media*/
  padding: 4px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
  align-items: center;
}

.gridvisto {
  /*Grid para registros vistos*/
  border: 4px #000 solid;
  height: 6cm;
  width: 10cm;
  max-width: 10cm;
  display: grid;
    grid-template-columns: 4fr 2.5fr 3.5fr;
    grid-template-rows: 2.1fr 1.3fr 1.3fr 1.3fr;
  margin: 2px;
  border-radius: 20px;
  text-overflow: ellipsis;
}

.ghti{
  /*Grid Head Title*/
  align-content: center;
  grid-column: 1 / span 2;
  grid-row: 1;
  color: #fff;
  padding-left: 20px;
  text-align: start;
  font-size: 1.4em;
  font-family: 'Unispace';
  border-top-left-radius: 14px;
}
.rhyr{
  /*Row Head Year*/
  font-family:'Bahnschrift', sans-serif;
  font-size: 0.8em;
}

.ghbs{
  /*Grid Head Box Small*/
  text-align: center;
  align-content: center;
  grid-column: 3 / span 2;
  grid-row: 1;
  color: #fff;
  font-family: 'Bahnschrift', sans-serif;
  border-top-right-radius: 14px;
}

.bstr{
  /*Box Star*/
  align-items: center;
  margin: 0.1em 0.4em;
  border-radius: 15px;
  background-color: #fff;
  color: var(--main-color);
  letter-spacing: var(--letterSpa);
  transition: all 0.5s cubic-bezier(1, -0.01, 0, 1.53) 100ms;
}

.bstr label:hover, 
.bstr label:hover ~ label, 
.bstr input[type="radio"]:checked ~ label {
  color: var(--mainColor);
  cursor: pointer;
 }

 .bwbk {
  /*Box with white background*/
  color: var(--main-color);
  background: white;
  padding: 0px 5px;
}

.gbim{
  /*grid for image*/
  text-align: center;
  align-content: center;
  grid-row: 2 / span 3;
  grid-column: 1;
  font-family: 'Bahnschrift', sans-serif;
}

.bima{
  /*box of image*/
  height: 112px;
  width: 112px;
  border-radius: 15%;
  transition: all 0.5s cubic-bezier(1, -0.01, 0, 1.53) 100ms;
}

.gr1f{
  /*grid de la primera fila, full*/
  padding-left: 20px;
  align-content: center;
  grid-column: 2 / span 3;
  grid-row: 2;
  border-bottom: 1px #000 solid;
  font-family: 'Bahnschrift', sans-serif;
}

.gr2f{
  /*grid de la segunda fila, full*/
  padding-left: 20px;
  align-content: center;
  grid-column: 2 / span 3;
  grid-row: 3;
  border-bottom: 1px #000 solid;
  font-family: 'Bahnschrift', sans-serif;
}

.gr3f{
  /*grid de la tercera fila, full*/
  padding-left: 20px;
  align-content: center;
  grid-column: 2 / span 3;
  grid-row: 4;
  font-family: 'Bahnschrift', sans-serif;
}
/*--*/

/*Formulario*/

.formTable {
  /*Flex para todos los inputs*/
  gap: 16px;
  display: grid;
  align-items: center;
  justify-content: center;
  row-gap: 1.5cm;
  box-shadow: 5px 0px 10px 10px rgba(0, 0, 0, 0.4);
  margin: auto;
  width: 30em;
}

.fgty{
  /*Formulario grid para Titulo y Year*/
  display: grid;
  grid-template-columns: 17em 6em;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 2em;
  height: 4.2em;
}

.fgff{
  /*Formulario separado en 50 y 50*/
  display: grid;
  grid-template-columns: 11em 11em;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 3em;
  height: 4.2em;
}

.fltx{
  /*Formulario Labels Texto*/
  font-size: larger;
  font-weight: 500;
  padding: 0px 10px;
  height: 1.2em;
}

.fcit{
  /*Formulario fondo de color input texto*/
  height: 3em;
  border: 2px solid #3551a9;
  background: #3551a9;
  border-radius: 5px;
  padding: 0px 8px;
  color: #fff;
}

.fbit{
  /*Formulario borde input texto*/
  height: 3em;
  border: 2px solid #3551a9;
  border-radius: 5px;
  padding: 0px 8px;
}

.fbst{
  height: 1.8em;
  border: 2px solid #3551a9;
  border-radius: 30px;
  padding: 0px 8px;
  background: transparent;
}

.fbim{
  height: 3.5em;
  width: 3.5em;
  border: 2px solid #3551a9;
  border-radius: 10px;
}

.formImage {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
align-items: center;
}

.image {
width: 100px;
height: 100px;
background-color: #fff;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.color-block {
width: 100px;
height: 100px;
background-color: #070707;
border-radius: 8px;
}

.text {
font-size: 18px;
font-weight: bold;
color: #070707;
}