.titlebox{
  color:#fff;
  background-color: #3551a9;
  border-style: solid;
  font-family: 'Unispace', monospace;
  border-radius: 8px;
  padding-left: 8px;
  border-color: #3551a9;
  height: 3em;
  width: 194px;
}
.otherbox{
  color:#000;
  background-color: #fff;
  border-style: solid;
  font-family: 'Bahnschrift', sans-serif;
  border-radius: 8px;
  padding-left: 8px;
  border-color: #3551a9;
  width: 194px;
  height: 3em;
}
.imagebox{
  display: flex;
  border-radius: 15px;
  transition: all 0.5s cubic-bezier(1, -0.01, 0, 1.53) 100ms;
  cursor: pointer;
  width: 90px !important;
  height: 46px;
  border: 2.9px solid #3551a9;
  color: #fff;
  background-color: #3551a9;
  font-family: 'Bahnschrift', sans-serif;
  align-items: center;
  justify-content: center;
}
.meter{
  height: 3em;
  direction: ltr;
}

.starbox{
  text-align: center;
  align-content: center;
  font-weight: bolder;
  letter-spacing: 10px;
  direction: rtl;
  color: #fff;
  background-color: #3551a9;
  border-style: solid;
  font-family: 'Unispace', monospace;
  border-radius: 8px;
  padding-left: 8px;
  border-color: #3551a9;
  height: 3em;
  width: 194px;
}

.meter:-moz-meter-optimum::-moz-meter-bar{
  background: #3551a9;

}
.picbox{
  border: #3551a9 2.9px solid;
  border-radius: 15px;
  grid-row: 1 / span 2;
}
.grid3{
  padding: 4px;
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.durbox{
  color: #000;
  background-color: #fff;
  border-style: solid;
  font-family: 'Bahnschrift', sans-serif;
  border-radius: 8px;
  padding-left: 8px;
  border-color: #3551a9;
  width: 60px;
  height: 3em;
}
.colorbox{
  border-radius: 8px;
  width: 208px !important;
  border: 2.9px solid #3551a9;
  height: 46px;
  cursor: grab;
  color: #3551a9;
  background-color: #fff;
  transition: all 0.5s cubic-bezier(1, -0.01, 0, 1.53) 100ms;
}
.grill{
  display: grid;
  border: 1px #ccc solid;
  border-radius: 5px;
  grid-template-columns: 15% 30% 15% 30%;
  grid-template-rows: 1cm 1cm 1cm 1cm 1cm;
  gap: 20px;
  margin-bottom: 20px;
}

.textoazul{
  color: #3551a9;
  font-family: 'Bahnschrift', sans-serif;
  display: block;
}

.stfill{
  border: none;
  align-content: center;
  height: 1.3cm;
  margin-right: 0.5cm;
  border-radius: 15%;
  background-color: #fff;
  color: #000;
  font-weight: bolder;
  letter-spacing: 3px;
  transition: all 0.5s cubic-bezier(1, -0.01, 0, 1.53) 100ms;
}
.star label:hover, 
.star label:hover ~ label, 
.star input[type="radio"]:checked ~ label {
  color: var(--mainColor);
  cursor: pointer;
 }
 
.none{display:none;}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.table{
  padding: 4px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
  align-items: center;
}

.HeaderBack{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  background-color: #3b3b3b;
  color: #fff;
  text-shadow: 2px 2px #3b3b3b;
  padding: 10px;
  justify-items: center;
  justify-content: center;
  background-size: contain;
  background-image: url('/public/Imagenes/computer_back.jpg')
}
.HeaderWelcome{
  grid-column: span 3 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  letter-spacing: 3px;
  padding: 10px;
}

.HeaderButtons{
  grid-row-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  background-color: #6495ed;
  border-radius: 25px;
  height: 5em;
  width: 5em;
  text-align: center;
}

.HeaderLabels{
  grid-row-start: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  text-align: center;
  width: 5em;
}


.box {
  text-align: center;
  align-content: center;
  color: #000;
  font-family: 'Bahnschrift', sans-serif;
  background-color:#fff ;
}

.pageURL {
  text-align: center;
  color: #000;
  background-color: #ccc;
  WIDTH: 24px;
  height: 25px;
  padding: 12px 6px;
}

.textinput {
  border-radius: 15px;
  height: 22px;
  padding-left: 8px;
  border-color: #6495ed;
}

.inputfile {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.gridvisto {
  /*Grid para registros vistos*/
  border: 4px #000 solid;
  height: 6cm;
  width: fit-content;
  max-width: 10cm;
  display: grid;
    /*grid-template-columns: 4cm 2.5cm 0.5cm 3cm;*/
    grid-template-rows: 2.1cm 1.3cm 1.3cm 1.3cm;
  margin: 2px;
  border-radius: 20px;
  text-overflow: ellipsis;
}

.ghti{
  /*Grid Head Title*/
  align-content: center;
  grid-column: 1 / span 2;
  grid-row: 1;
  color: #fff;
  padding-left: 20px;
  text-align: start;
  font-size: 1.4em;
  font-family: 'Unispace';
  border-top-left-radius: 14px;
}
.rhyr{
  /*Row Head Year*/
  font-family:'Bahnschrift', sans-serif;
  font-size: 0.8em;
}

.ghbs{
  /*Grid Head Box Small*/
  text-align: center;
  align-content: center;
  grid-column: 3 / span 2;
  grid-row: 1;
  color: #fff;
  font-family: 'Bahnschrift', sans-serif;
  border-top-right-radius: 14px;
}

.bstr{
  /*Box Star*/
  align-content: center;
  height: 1.3cm;
  margin-right: 0.5cm;
  border-radius: 15%;
  background-color: #fff;
  color: #000;
  font-weight: bolder;
  letter-spacing: 3px;
  transition: all 0.5s cubic-bezier(1, -0.01, 0, 1.53) 100ms;
}

.gbim{
  text-align: center;
  align-content: center;
  grid-row: 2 / span 3;
  grid-column: 1;
  height: 112px;
  width: 112px;
  margin: 0.45cm 0.48cm;
  font-family: 'Bahnschrift', sans-serif;
  background-color: #fff;
  color: #000;
}

.bima{
  height: 112px;
  width: 112px;
  border-radius: 15%;
  transition: all 0.5s cubic-bezier(1, -0.01, 0, 1.53) 100ms;
}

.gr1f{
  padding-left: 20px;
  align-content: center;
  grid-column: 2 / span 3;
  grid-row: 2;
  border-bottom: 1px #000 solid;
  font-family: 'Bahnschrift', sans-serif;
}

.gr2f{
  padding-left: 20px;
  align-content: center;
  grid-column: 2 / span 3;
  grid-row: 3;
  border-bottom: 1px #000 solid;
  font-family: 'Bahnschrift', sans-serif;
}

.gr3l{
  text-align: center;
  align-content: center;
  grid-row: 4;
  grid-column: 2;
  padding-right: 15px;
  border-right: 1px #000 solid;
  font-family: 'Bahnschrift', sans-serif;
}

.gr3r{
  text-align: center;
  align-content: center;
  grid-row: 4;
  grid-column: 3 / span 2;
  font-family: 'Bahnschrift', sans-serif;
}

.pill{
  margin-right: 0.5cm;
  border: none;
  transition: all 0.5s cubic-bezier(1, -0.01, 0, 1.53) 100ms;
  border-radius: 15%;
  cursor: pointer;
  color: #fff;
  background-color: #3b3b3b;
  width: 36px;
  height: 48px;
}  
.pllk{
  width: 24px;
  height: 25px;
  padding: 12px 6px;
  text-align: center;
  margin-right: 0.5cm;
  border: none;
  transition: all 0.5s cubic-bezier(1, -0.01, 0, 1.53) 100ms;
  border-radius: 15%;
  cursor: pointer;
  color: #fff;
  background-color: #3b3b3b;
}

.pllc{
  width: 39.63px;
  height: 49.13px;
  padding: 8px;
  margin-right: 0.5cm;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: all 0.5s cubic-bezier(1, -0.01, 0, 1.53) 100ms;
  border-radius: 15%;
  cursor: pointer;
  color: #fff;
  background-color: #3b3b3b;
}
.ar:active {
  transition: all 0.5s none 100ms;
  box-shadow: 0 0 10px 10px #d83f3f;
  color: #d64242;
}

.gl:hover{
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 0px #000;
  border-radius: 50px;
}

.cv{
  border-bottom-right-radius: 17px;
}
.circ{
  border-radius: 15%;
  padding: 8px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39.63px;
  height: 49.13px;
}